body {
    /* fallback for old browsers */
    background: #74f650;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #1E5938, #6ebd8f);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #1E5938, #6ebd8f)
  }